body{
    font-family: "Plus Jakarta Sans", serif !important;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    background-color: #FFF8E6;   /* Cream background */
}

.container{
    flex:1
}

/* Navbar Brown */
.navbar{
    height: 5rem; 
    background: #835218;
}

/* Navbar text white */
.nav-link{
    background-color: #835218 !important;
    color: #ffffff !important;
}

.nav-link:hover{
    color: #309AA8 !important;
}

/* Compass icon */
.fa-compass{
    color: #ffffff;
    font-size: 2rem;
}

/* Footer Brown */
.f-info{
    text-align: center;
    height: 8rem;
    background-color: #835218;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-evenly;
    color: white;
}

.f-info-links a{
    text-decoration: none;
    color: #ffffff;
}

.f-info-links a:hover{
    color: #309AA8;
}

.f-info-socials i{
    font-size: 1.25rem;
    margin-right: 1rem;
    color: white;
}

.f-info-socials i:hover{
    color: #309AA8;
}

/* Listing background cream */
.listing-card{
    border:none !important;
    margin-bottom: 2rem;
    background-color: #FFF8E6;
}

/* Cards */
.card-img-top{
    border-radius: 1REM;
    width: 100%;
    object-fit: cover !important;
}

.card-body{
    padding: 0 !important;
}

.card-text p{
    font-weight:400 !important;
}

.listing-link{
    text-decoration: none;
}

/* Card effect */
.card-img-overlay{
    opacity: 0;
}

.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}

/* ALL Buttons Blue */
.add-btn,
.edit-btn,
.btn,
button{
    background-color: #309AA8 !important;
    border: none !important;
    color: white !important;
}

.add-btn:hover,
.edit-btn:hover,
.btn:hover,
button:hover{
    background-color: #267F8B !important;
}

/* show page */
.show-img{
    height: 30vh;
}

.btns{
    display: flex;
}

.show-card{
    padding-left: 0;
    padding-right: 0;
}
.card {
    background-color: #FFF8E6 !important;
}

#map {
    height: 350px;
    max-width: 75vh;
}
